* {
  font-family: Iosevka;
  font-size: 14px;
  border-radius: 16px;
}
#battery,
#clock,
#memory,
#network,
#wireplumber,
#window,
#mpris,
#wireplumber,
#tray {
  padding: 5 15px;
  border-radius: 12px;
  background: rgba(30, 30, 46, 0.6);
  color: rgb(180, 190, 254);
  /*  box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px; */
  margin-right: 2px;
  margin-left: 2px;
  transition: all 0.3s ease;
}

#window {
  background-color: transparent;
  box-shadow: none;
}

window#waybar {
  background-color: rgba(24, 24, 37, 0.7);
  /* background-color: rgb(255, 255, 255); */
  border-radius: 17px;
}

window * {
  background-color: transparent;
  border-radius: 17px;
}

#workspaces button label {
  color: rgb(180, 190, 254);
}

#workspaces button.active label {
  color: rgba(30, 30, 46, 0.6);
  font-weight: bolder;
}

#workspaces button:hover {
  box-shadow: rgb(180, 190, 254) 0 0 0 1.5px;
  min-width: 50px;
}

#workspaces {
  background-color: transparent;
  border-radius: 17px;
  padding: 5 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#workspaces button {
  box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px;
  background-color: rgba(30, 30, 46, 0.6);
  border-radius: 15px;
  margin-left: 10px;

  transition: all 0.3s ease;
}

#workspaces button.active {
  min-width: 15px;
  box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
  background-color: rgb(245, 194, 231);
  background-size: 400% 400%;
  transition: all 0.5s ease;
  background: linear-gradient(
    65deg,
    #f5c2e7,
    #cba6f7,
    #f38ba8,
    #eba0ac,
    #fab387,
    #f9e2af,
    #a6e3a1
  );
  background-size: 300% 300%;
  animation: colored-gradient 10s ease infinite;
}

@keyframes colored-gradient {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}

#mpris {
  margin-left: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  color: rgba(180, 190, 254, 0.329);
  background-color: rgba(30, 30, 46, 0.6);
  box-shadow: rgba(17, 17, 27, 0.2) 0 0 3 2px;
  transition: all 0.3s ease;
}

#mpris.playing {
  color: rgb(180, 190, 254);
  background: rgba(30, 30, 46, 0.6);
  background: linear-gradient(
    90deg,
    rgb(49, 50, 68),
    rgba(30, 30, 46, 0.6),
    rgba(30, 30, 46, 0.6),
    rgba(30, 30, 46, 0.6),
    rgba(30, 30, 46, 0.6),
    rgb(49, 50, 68)
  );
  background-size: 400% 100%;
  animation: grey-gradient 3s linear infinite;
  transition: all 0.3s ease;
}

@keyframes grey-gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}

#tray menu {
  background-color: rgba(30, 30, 46, 0.6);
  opacity: 0.8;
}

#wireplumber.muted {
  color: rgb(243, 139, 168);
  padding-right: 16px;
}
